body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #333, #ccc);
}

.navbar {
    background-color: #222;
    padding: 1%;
    text-align: center;
    margin: 0px 0px 50px 0px;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
}

.content {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    margin: 60px auto;
}